@font-face {
  font-family: "Bodoni Cyrillic";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/public/Bodoni-Bold.ttf");
}
@font-face {
  font-family: "Bodoni Cyrillic";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/public/Bodoni-Light.ttf");
}
@font-face {
  font-family: "Bodoni Cyrillic";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/public/bodoni-cyrillic.ttf");
}


