.contact-section {
  padding-top: 32px;
}

.contacts-title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.33px;
  line-height: 24px;
  margin-bottom: 32px;
}

.contacts-text {
  color: $black;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  position: relative;
  &:hover{
    color: $black;
  }
}

.contacts-phone-list, .contact-address-list {
  padding-left: 20px;
  list-style: none;
}

.contacts-phone-list {
  &__item {
    position: relative;
  }
}

.phone-icon {
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    width: 11px;
    height: 11px;
    background-image: url('../../img/contacts_phone.svg');
    background-size: cover;
  }
}

.mail-icon {
  &:after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    position: absolute;
    width: 12px;
    height: 8px;
    background-image: url('../../img/contacts_mail.svg');
    background-size: cover;
  }
}

.place-icon {
  &:after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    position: absolute;
    width: 13px;
    height: 19px;
    background-image: url('../../img/contacts_place.svg');
    background-size: cover;
  }
}

.social-links {
  a {
    display: inline-block;
    margin: 0 9px;

    svg {
      width: 20px;
      height: 20px;
      transition: all .3s ease-in-out;
    }

    .inst {
      fill: #d8d8d8;

      &:hover {
        fill: $orange;
      }
    }

    .fb {
      stroke: #d8d8d8;
      fill: none;

      &:hover {
        stroke: $orange;
      }
    }
  }
}

.map {
  height: 431px;
  margin: 0 -15px;
  position: relative;

  a {
    position: absolute;
    width: 100%;
    height: 46px;
    background-color: rgba(37, 37, 37, 0.6);
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $white;
    }
  }

  iframe {
    height: 100%;

  }
}
.mb-38{
  margin-bottom: 38px;
}
.mt-60{
  margin-top: 60px;
}
@media (min-width: 992px) {
  .contacts-box {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 50%;

      &:last-child {
        width: 100%;
      }
    }
  }
  .contacts-form{
    max-width: 255px;
    margin-left: auto;
  }
  .form-title {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.7px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .contact-input {
    width: 100%;
    border: 1px solid #979797;
    padding: 15px 15px 11px;
    color: $black;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.23px;
    margin-bottom: 20px;
    outline: none;
    &_last{
      margin-bottom: 30px;
    }
    &::placeholder{
      color: #e2ab1c;;
    }
  }
  .contact-form-btn{
    width: 100%;
    padding:16px 0 13px;
    display: flex;
    justify-content: center;
    border-radius: 23px;
    border: 1px solid #e2ab1c;
    color: #e2ab1c;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    outline: none!important;
    background: transparent
  }
  .map {
    margin: 0;
  }
}