.events-section {
  padding: 30px 0 50px;
  &__box {
    transition: all 0.3s ease-out;
  }
  &__image-box {
    padding-right: 0 !important;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 35px 20px 25px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    z-index: 2;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // filter: blur(10px);
      z-index: -2;
      background-color: rgba(49, 44, 76, 0.79);
      backdrop-filter: blur(10px);
    }
    &-date {
      opacity: 0.47;
      color: #ffffff;
      font-family: $openSans;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.39px;
    }
    &-name {
      color: #ffffff;
      font-family: $bodoni;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.56px;
      line-height: 24px;
      margin-bottom: 5px;
    }
    &-text {
      color: #ffffff;
      font-family: $openSans;
      font-size: 13px;
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 10px;
      opacity: 0.8;
    }
    &-btn {
      color: #ffffff;
      font-family: $openSans;
      padding: 10px;
      width: 100%;
      border: 1px solid #ffffff;
      text-align: center;
      font-size: 16px;
    }
    &-link {
      color: #ffffff;
      font-family: $openSans;
      padding: 10px;
      width: 100%;
      border: 1px solid #8e0807;
      background-color: #8e0807;
      text-align: center;
      font-size: 16px;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__title {
    color: #312c4c;
    font-family: $bodoni;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__card {
    box-shadow: 1px 0 8px 2px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    &:hover {
      .events-section__overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__text {
    padding-right: 30px;
    padding-top: 17px;
    padding-bottom: 23px;
  }
  &__date {
    opacity: 0.37;
    color: #000000;
    font-family: $openSans;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  &__name {
    color: #262626;
    font-family: $bodoni;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
  }
  &__cost {
    color: #8e0807;
    font-family: $openSans;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.45px;
  }
  &__btn {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    padding: 6px;
    width: 100%;
    max-width: 145px;
    background-color: #8e0807;
    text-align: center;
  }
  &__link {
    color: #8e0807;
    font-family: $openSans;
    font-size: 12px;
    display: flex;
    align-items: center;
    img {
      margin-left: 8px;
    }
  }
  &__more {
    color: #312c4c;
    font-family: $openSans;
    padding: 10px;
    width: 100%;
    max-width: 345px;
    border: 1px solid #312c4c;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  .events-section__image-box {
    padding-right: 15px !important;
  }
  .events-section {
    padding-top: 60px;
  }
  .events-section__text {
    padding-left: 30px;
  }
  .events-section__date {
    color: #000000;
    opacity: 1;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.34px;
  }
  .events-section__name {
    color: #262626;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.51px;
    margin-bottom: 7px;
    line-height: 18px;
  }
  .events-section__cost {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.51px;
  }
  .events-section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .events-section__more {
    max-width: 255px;
  }
  .events-section__card:hover .events-section__box {
    filter: blur(4px);
  }
}

@media screen and (min-width: 1200px) {
  .events-section__overlay {
    &-name {
      font-size: 20px;
    }
    &-text {
      margin-bottom: 15px;
      font-size: 15px;
    }
  }
}
