.mobile-feedback {
  padding-bottom: 30px;
  &__form {
  }
  &__title {
    color: #262626;
    font-family: $bodoni;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.68px;
  }
  &__input {
    color: #312c4c;
    font-family: $openSans;
    font-size: 14px;
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #312c4c46;
    width: 100%;
    max-width: 343px;
    background: transparent;
    &-bordered {
      border: 1px solid #312c4c;
      padding-left: 9px;
      padding-right: 9px;
      padding-top: 13px;
      padding-bottom: 12px;
    }
  }
  &__btn {
    color: #ffffff;
    font-family: $openSans;
    padding: 10px;
    width: 100%;
    max-width: 343px;
    background-color: #312c4c;
    font-size: 16px;
    position: relative;
    border: none;
    outline: none;
    span {
      position: relative;
      z-index: 1;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: #312c4c;
      opacity: 0.3;
      transition: all 0.3s ease-out;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
      &::after {
        transform: translate(5px, 5px);
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .mobile-feedback__title {
    color: #262626;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.85px;
  }
}

.footer {
  background-color: #f7f7f8;
  padding-top: 35px;
  padding-bottom: 35px;
  &-nav {
    &__logo {
      max-width: 200px;
      width: 100%;
      &-image {
        width: 100%;
      }
    }
    &__link {
      color: #000000;
      font-family: $openSans;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.39px;
      transition: 0.3s ease-out;
      &:hover {
        color: #8e0807;
      }
    }
  }
  &-contacts {
    &__title {
      color: #262626;
      font-family: $bodoni;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.68px;
      text-align: center;
    }
    &__box {
      width: 191px;
    }
    &__icon {
    }
    &__text {
      color: #262626;
      font-family: $openSans;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.39px;
      margin-left: 8px;
      transition: 0.3s ease-out;
      &:hover {
        color: #8e0807;
      }
    }
    &__time {
      // padding-left: 13%;
      &-icon {
        margin-right: 5px;
      }
      &-text {
        color: #c1c1c1;
        font-family: $openSans;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.34px;
      }
    }
  }
  &-social {
    max-width: 190px;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 15px;
    &__title {
      color: #262626;
      font-family: $bodoni;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.68px;
      margin-bottom: 7px;
    }
    &__icon {
      svg {
        transition: 0.3s ease-in-out;
        fill: #c1c1c1 !important;
        &:hover {
          fill: #312c4c !important;
        }
      }
    }
  }
}
@media screen and (min-width:992px){
  .footer-contacts__box{
    width: unset;
  }
}

.copyright {
  background-color: #f7f7f8;
  padding-bottom: 15px;
  &__text {
    opacity: 0.2;
    color: #262626;
    font-family: $openSans;
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) {
  .copyright {
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    &__text {
      font-size: 14px;
    }
  }
}
