.footer {
    width: 100%;
    padding: 20px 15px;
}
.footer_mob-menu {
    padding: 60px 25px 20px;
}
.theme-icon {
    svg {
        fill: #d8d8d8;
    }
    &_active {
        svg {
            fill: $orange;
        }
    }
}

.custom-btn {
    display: flex;
    justify-content: center;
    max-width: 246px;
    width: 100%;
    border-radius: 23px;
    background-color: $black;
    padding: 15px 0 14px;
    font-size: 12px;
    text-transform: uppercase;
    color: $orange;
    margin: 0 auto;
    &_mb30 {
        margin-bottom: 30px;
    }
    &:hover {
        color: $orange !important;
    }
}

.social-box__item {
    margin: 0 15px;
}
.day {
    svg {
        fill: $orange;
    }
}
@media (min-width: 992px) {
    .footer-desctop {
        margin: 60px auto 45px;
    }
    .theme-icon {
        width: 38px;
        height: 38px;
        margin-right: 30px;
        cursor: pointer;
    }
    
    #about,
    #price,
    #stock {
        .social-box-fixed,
        .theme-box {
            position: fixed;
            bottom: 45px;
        }
    }

    .social-box-fixed {
        right: calc(50% - 550px);
    }
    .theme-box {
        left: calc(50% - 550px);
    }
}
