.first-section {
  position: relative;
  &__background-overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    background: #fff;
    z-index: 2;
    background-image: url('../../img/public/XL/pattern_xl/Group.svg');
    background-position: bottom right;
    transition: all .4s ease-out;
    animation: 0.8s ease-in both widthAnimation;
  }
  .slick-dots {
    bottom: 20px;
    z-index: 5;
    li {
      &.slick-active {
        button {
          width: 9px;
          height: 9px;
          background-color: #ffffff;
        }
      }
      button {
        width: 5px;
        height: 5px;
        background-color: #898989;
        border-radius: 100%;
        padding: 0;
        transition: all 0.3s ease-out;
        &::before {
          display: none;
        }
      }
    }
  }
  &__box {
    width: 100%;
    position: relative;
  }
  &__image {
    width: 100%;
    min-height: 350px;
    object-fit: cover;
    height: calc(75vh - 77px);
  }
  &__overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      180deg,
      rgba(236, 236, 236, 0.52) 0%,
      rgba(38, 38, 38, 0.52) 100%
    );
  }
  &__desktop {
    position: absolute;
    bottom: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    &-title {
      color: #ffffff;
      font-family: $bodoni;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
    }
    &-desc {
      color: #ffffff;
      font-family: $openSans;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.45px;
    }
  }
  &__bottom {
    height: 110px;
    // background-color: #100f16;
    display: block;
    position: relative;
    z-index: 0;
    &-background {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #000;
      z-index: 1;
    }
    .wrapper {
      position: relative;
      z-index: 2;
    }

    &-btn {
      color: #ffffff;
      font-family: $openSans;
      padding: 12px 80px;
      background-color: #8e0807;
      font-size: 16px;
      letter-spacing: 0.45px;
      &:hover {
        color: white;
      }
    }
    &-text {
      color: #ffffff;
      font-family: $openSans;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.45px;
      &-second {
        color: #ffffff;
        font-family: $openSans;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.51px;
        /* Text style for "450, 2300" */
        span {
          font-weight: 400;
        }
      }
    }
  }
  &__text {
    position: absolute;
    bottom: 70px;
    padding: 0 15px;
    left: 0;
    right: 0;
  }
  &__subtitle {
    color: #ffffff;
    font-family: $openSans;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-align: center;
    margin-bottom: 15px;
  }
  &__title {
    color: #ffffff;
    font-family: $bodoni;
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
  }
  &__description {
    color: #ffffff;
    font-family: $openSans;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.51px;
    text-align: center;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  .slick-dots {
    position: unset;
  }
  .first-section__slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    .dots-wrapper {
      margin-left: 20px;
      margin-right: 2px;
    }
    .first-section__slider-arrow-next,
    .first-section__slider-arrow-prev {
      width: 8px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .first-section__slider-arrow-next {
      transform: translateY(2px) rotate(180deg);
    }
  }
}

@media screen and (min-width: 992px) {
  .first-section__box {
    position: relative;
  }
  .first-section__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85px;
    &-background {
      background-color: rgba(38, 38, 38, 0.4);
      backdrop-filter: blur(10px);
    }
  }
  .first-section__slider-dots {
    bottom: 25px !important;
    max-width: 600px;
  }
}
@media screen and (max-width:991px){
  .first-section__slider {
    .slick-list{
      overflow: visible;
      z-index: 1;
    }
  }
  .first-section__text{
    bottom: -30px;
  }
}


@keyframes widthAnimation{
  0%{
    width: 100%;
  };
  100%{
    width: 0;
  }
}
