.modal-k {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;

  &__overlay {
    background-color: rgba(49, 44, 76, 0.79);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-out;
    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
  &__box {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 1px 0 8px 2px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 37px 48px;
    max-width: 459px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-out;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__title {
    color: #262626;
    font-family: $openSans;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
  }
  &__text {
    color: #262626;
    font-family: $openSans;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.39px;
  }
  &__btn {
    color: #ffffff;
    font-family: $openSans;
    border: 1px solid #8e0807;
    background-color: #8e0807;
    max-width: 181px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 9px;
    cursor: pointer;
  }
}
@media screen and (min-width: 992px) {
  .modal-k {
    &__box {
      padding-top: 55px;
      padding-bottom: 55px;
    }
    &__title {
      font-size: 20px;
      font-weight: 600;
    }
    &__text {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.39px;
    }
    &__btn {
      max-width: 255px;
      padding: 13px;
      font-size: 16px;
      letter-spacing: 0.45px;
    }
  }
}
